In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [3]:
df = pd.read_csv('sgjobdata.csv.xz')

In [4]:
df.head()

,categories,employmentTypes,metadata_expiryDate,metadata_isPostedOnBehalf,metadata_jobPostId,metadata_newPostingDate,metadata_originalPostingDate,metadata_repostCount,metadata_totalNumberJobApplication,metadata_totalNumberOfView,...,occupationId,positionLevels,postedCompany_name,salary_maximum,salary_minimum,salary_type,status_id,status_jobStatus,title,average_salary
0,"[{""id"":13,""category"":""Environment / Health""},{...",Permanent,2023-05-08,False,MCF-2023-0252866,2023-04-08,2023-03-30,2,5,151,...,NaN,Executive,WORKSTONE PTE. LTD.,2800,2000,Monthly,0,Closed,Food Technologist - Clementi | Entry Level | U...,2400.0
1,"[{""id"":21,""category"":""Information Technology""}]",Permanent,2023-05-08,False,MCF-2023-0273977,2023-04-08,2023-04-08,0,0,55,...,NaN,Executive,TRUST RECRUIT PTE. LTD.,5500,4000,Monthly,0,Closed,"Software Engineer (Fab Support) (Java, CIM, Up...",4750.0
2,"[{""id"":33,""category"":""Repair and Maintenance""}]",Full Time,2023-04-22,False,MCF-2023-0273994,2023-04-08,2023-04-08,0,7,99,...,NaN,Senior Executive,PU TIEN SERVICES PTE. LTD.,4600,3800,Monthly,0,Closed,Senior Technician,4200.0
3,"[{""id"":21,""category"":""Information Technology""}]",Permanent,2023-05-08,False,MCF-2023-0273991,2023-04-08,2023-04-08,0,6,113,...,NaN,Senior Executive,TRUST RECRUIT PTE. LTD.,10000,5000,Monthly,0,Closed,"Senior .NET Developer (.NET Core, MVC, MVVC, S...",7500.0
4,"[{""id"":2,""category"":""Admin / Secretarial""}]",Full Time,2023-05-08,False,MCF-2023-0273976,2023-04-08,2023-04-08,0,3,99,...,NaN,Non-executive,EATZ CATERING SERVICES PTE. LTD.,3400,2400,Monthly,0,Closed,Sales / Admin Cordinator,2900.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048585 entries, 0 to 1048584
Data columns (total 22 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   categories                          1044597 non-null  object
 1   employmentTypes                     1044597 non-null  object
 2   metadata_expiryDate                 1044597 non-null  object
 3   metadata_isPostedOnBehalf           1048585 non-null  bool
 4   metadata_jobPostId                  1044597 non-null  object
 5   metadata_newPostingDate             1044597 non-null  object
 6   metadata_originalPostingDate        1044597 non-null  object
 7   metadata_repostCount                1048585 non-null  int64
 8   metadata_totalNumberJobApplication  1048585 non-null  int64
 9   metadata_totalNumberOfView          1048585 non-null  int64
 10  minimumYearsExperience              1048585 non-null  int64
 11  numberOfVacancies                   1048585 non-null  int64
 12  occupationId                        0 non-null        float64
 13  positionLevels                      1044597 non-null  object
 14  postedCompany_name                  1044597 non-null  object
 15  salary_maximum                      1048585 non-null  int64
 16  salary_minimum                      1048585 non-null  int64
 17  salary_type                         1044597 non-null  object
 18  status_id                           1048585 non-null  int64
 19  status_jobStatus                    1044597 non-null  object
 20  title                               1044597 non-null  object
 21  average_salary                      1048585 non-null  float64
dtypes: bool(1), float64(2), int64(8), object(11)
memory usage: 169.0+ MB

In [6]:
def explode_categories(df, col="categories"):
    out = df.copy()

    out[col] = (
        out[col]
        .dropna()
        .map(lambda x: json.loads(x) if isinstance(x, str) else x)
    )

    out = out.explode(col, ignore_index=True)

    out["category_id"] = out[col].map(lambda d: d.get("id") if isinstance(d, dict) else None)
    out["category"]    = out[col].map(lambda d: d.get("category") if isinstance(d, dict) else None)

    return out.drop(columns=[col])

df_exploded = explode_categories(df)
df_exploded.head()

,employmentTypes,metadata_expiryDate,metadata_isPostedOnBehalf,metadata_jobPostId,metadata_newPostingDate,metadata_originalPostingDate,metadata_repostCount,metadata_totalNumberJobApplication,metadata_totalNumberOfView,minimumYearsExperience,...,postedCompany_name,salary_maximum,salary_minimum,salary_type,status_id,status_jobStatus,title,average_salary,category_id,category
0,Permanent,2023-05-08,False,MCF-2023-0252866,2023-04-08,2023-03-30,2,5,151,0,...,WORKSTONE PTE. LTD.,2800,2000,Monthly,0,Closed,Food Technologist - Clementi | Entry Level | U...,2400.0,13.0,Environment / Health
1,Permanent,2023-05-08,False,MCF-2023-0252866,2023-04-08,2023-03-30,2,5,151,0,...,WORKSTONE PTE. LTD.,2800,2000,Monthly,0,Closed,Food Technologist - Clementi | Entry Level | U...,2400.0,25.0,Manufacturing
2,Permanent,2023-05-08,False,MCF-2023-0252866,2023-04-08,2023-03-30,2,5,151,0,...,WORKSTONE PTE. LTD.,2800,2000,Monthly,0,Closed,Food Technologist - Clementi | Entry Level | U...,2400.0,36.0,Sciences / Laboratory / R&D
3,Permanent,2023-05-08,False,MCF-2023-0273977,2023-04-08,2023-04-08,0,0,55,2,...,TRUST RECRUIT PTE. LTD.,5500,4000,Monthly,0,Closed,"Software Engineer (Fab Support) (Java, CIM, Up...",4750.0,21.0,Information Technology
4,Full Time,2023-04-22,False,MCF-2023-0273994,2023-04-08,2023-04-08,0,7,99,3,...,PU TIEN SERVICES PTE. LTD.,4600,3800,Monthly,0,Closed,Senior Technician,4200.0,33.0,Repair and Maintenance

In [ ]:
# if company name contains 'kpmg', show list of such rows
df_exploded[df_exploded['postedCompany_name'].str.contains('kpmg', case=False, na=False)].sort_values('metadata_originalPostingDate', ascending=False)

,employmentTypes,metadata_expiryDate,metadata_isPostedOnBehalf,metadata_jobPostId,metadata_newPostingDate,metadata_originalPostingDate,metadata_repostCount,metadata_totalNumberJobApplication,metadata_totalNumberOfView,minimumYearsExperience,...,postedCompany_name,salary_maximum,salary_minimum,salary_type,status_id,status_jobStatus,title,average_salary,category_id,category
1769536,Full Time,2024-06-28,False,MCF-2024-0778628,2024-05-29,2024-05-29,0,1,7,1,...,KPMG SERVICES PTE. LTD.,5000,3000,Monthly,0,Open,"Personal Tax & Global Mobility Services, Assoc...",4000.0,1.0,Accounting / Auditing / Taxation
1768215,Permanent,2024-06-27,False,MCF-2024-0772530,2024-05-28,2024-05-28,0,1,8,8,...,KPMG SERVICES PTE. LTD.,15500,8000,Monthly,0,Open,"Indirect Tax, Manager/Senior Manager",11750.0,1.0,Accounting / Auditing / Taxation
1763261,Full Time,2024-06-27,False,MCF-2024-0771384,2024-05-28,2024-05-28,0,0,1,1,...,KPMG SERVICES PTE. LTD.,5000,3000,Monthly,0,Open,"Indirect Tax, Associate",4000.0,1.0,Accounting / Auditing / Taxation
1767911,Permanent,2024-06-27,False,MCF-2024-0772873,2024-05-28,2024-05-28,0,1,11,6,...,KPMG SERVICES PTE. LTD.,12000,6500,Monthly,0,Open,"Corporate Tax Planning & Compliance, Assistant...",9250.0,1.0,Accounting / Auditing / Taxation
1767937,Permanent,2024-06-27,False,MCF-2024-0772888,2024-05-28,2024-05-28,0,1,13,10,...,KPMG SERVICES PTE. LTD.,15500,8000,Monthly,0,Open,Corporate Tax Planning and Compliance - Manage...,11750.0,1.0,Accounting / Auditing / Taxation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91654,Permanent,2023-06-22,False,MCF-2023-0054535,2023-05-23,2023-01-19,1,10,150,10,...,KPMG SERVICES PTE. LTD.,15000,7500,Monthly,0,Closed,"Risk Consulting, Digital Trust, Associate Dire...",11250.0,21.0,Information Technology
91652,Permanent,2023-06-22,False,MCF-2023-0054535,2023-05-23,2023-01-19,1,10,150,10,...,KPMG SERVICES PTE. LTD.,15000,7500,Monthly,0,Closed,"Risk Consulting, Digital Trust, Associate Dire...",11250.0,1.0,Accounting / Auditing / Taxation
255377,Full Time,2023-07-28,False,MCF-2023-0024812,2023-06-28,2023-01-10,1,33,307,7,...,KPMG SERVICES PTE. LTD.,18000,9000,Monthly,0,Re-open,"ESG Hub - Associate Director, ESG Alliances",13500.0,26.0,Marketing / Public Relations
255378,Full Time,2023-07-28,False,MCF-2023-0024812,2023-06-28,2023-01-10,1,33,307,7,...,KPMG SERVICES PTE. LTD.,18000,9000,Monthly,0,Re-open,"ESG Hub - Associate Director, ESG Alliances",13500.0,29.0,Professional Services
255379,Full Time,2023-07-28,False,MCF-2023-0024812,2023-06-28,2023-01-10,1,33,307,7,...,KPMG SERVICES PTE. LTD.,18000,9000,Monthly,0,Re-open,"ESG Hub - Associate Director, ESG Alliances",13500.0,35.0,Sales / Retail

In [14]:
df_exploded.category.value_counts()

category
Information Technology               140866
Engineering                          136372
Admin / Secretarial                  117854
Customer Service                     111785
Others                               106101
Sales / Retail                       105067
Building and Construction             84034
Accounting / Auditing / Taxation      78648
F&B                                   73731
Logistics / Supply Chain              69193
Banking and Finance                   62000
Manufacturing                         56437
Human Resources                       53465
Marketing / Public Relations          53442
Healthcare / Pharmaceutical           52741
Education and Training                44877
Consulting                            38961
General Management                    35397
General Work                          30140
Hospitality                           25165
Repair and Maintenance                23791
Professional Services                 20221
Sciences / Laboratory / R&D           19753
Advertising / Media                   19584
Design                                18512
Environment / Health                  17211
Events / Promotions                   16993
Personal Care / Beauty                16932
Purchasing / Merchandising            15382
Architecture / Interior Design        15353
Medical / Therapy Services            15351
Wholesale Trade                       11091
Legal                                 10737
Real Estate / Property Management     10513
Risk Management                        9390
Social Services                        8684
Insurance                              7994
Telecommunications                     7964
Precision Engineering                  6562
Travel / Tourism                       6549
Security and Investigation             5461
Entertainment                          4242
Public / Civil Service                 3283
Name: count, dtype: int64

In [23]:
df_exploded[df_exploded['category'] == 'Accounting / Auditing / Taxation'][['category','postedCompany_name','metadata_jobPostId','numberOfVacancies']] #\
    #.groupby('postedCompany_name').numberOfVacancies.sum().sort_values(ascending=False)

,category,postedCompany_name,metadata_jobPostId,numberOfVacancies
12,Accounting / Auditing / Taxation,WORKSTONE PTE. LTD.,MCF-2023-0261996,1
26,Accounting / Auditing / Taxation,WORKSTONE PTE. LTD.,MCF-2023-0273998,1
60,Accounting / Auditing / Taxation,WORKSTONE PTE. LTD.,MCF-2023-0261994,1
80,Accounting / Auditing / Taxation,VALENCY INTERNATIONAL PTE. LTD.,MCF-2023-0274151,1
107,Accounting / Auditing / Taxation,RECRUITPEDIA PTE. LTD.,MCF-2023-0274059,1
...,...,...,...,...
1771705,Accounting / Auditing / Taxation,RECRUITPEDIA PTE. LTD.,MCF-2024-0783885,1
1771708,Accounting / Auditing / Taxation,THE INCEPTION RECRUITMENT PTE. LTD.,MCF-2024-0783871,2
1771723,Accounting / Auditing / Taxation,RECRUITPEDIA PTE. LTD.,MCF-2024-0783881,1
1771742,Accounting / Auditing / Taxation,RECRUITPEDIA PTE. LTD.,MCF-2024-0783842,1
1771773,Accounting / Auditing / Taxation,BOND CAPITAL GROUP PTE. LTD.,RANDOM_JOB_20251115011346015685_0,579